{% extends 'base.html.twig' %}

{% block title %}Job Detail{% endblock %}

{% block body %}
    {{ include('job/_header.html.twig') }}


<div class="container mx-auto grid grid-cols-2 md:grid-cols-4">

<div class="max-w-sm m-2 p-6 bg-white bg-white border-gray-200 dark:bg-gray-900 rounded-lg shadow">
        <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{ offre.nom }}</h2>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{ offre.salaire }} €</p>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">{{offre.description}}</p>
    <p class="py-2 text-gray-200">Service : {{ offre.service.nom }}</p>
 {% for tag in offre.tags %}
 <div class="inline-flex items-center rounded-full bg-yellow-100 p-2 py-0.5 text-sm font-medium text-yellow-800">
 {{ tag.nom }}
 </div>
 {% endfor %}
</div>

</div>


{% endblock %}
